.category-top-topic-contents {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding: 4em 8px 8px 8px;
    margin-bottom: -4em;
    text-align: center;
    font-size:1.2em;
    color: $secondary;
}

.category-top-topic-contents h1 {
    color: $quaternary;
    font-size:1.7em;
}
    
.category-top-topic-contents img {
    height: auto;
    width: auto;
    max-height: 300px !important;
}

.category-top-topic-contents img.emoji {
    max-width:30px !important;
    max-height:30px !important;
}

[data-header-divider] {
    background: $secondary;
    box-shadow: 0 -8px 6px -6px rgba(0,0,0,0.2);
    color: $primary;
    margin: 0 -8px -10px -8px;
    padding: 10px 30px 5px 30px;
    text-align: left;
    font-size: 1em;
}

[data-header-divider] h1 {
    font-size: 1em;
}

[data-header-divider] img.emoji {
    max-width: 20px !important;
    max-height: 20px !important;
}